progress{
    width: 50vw;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
}

svg {
  transform: rotate(-90deg); /* start from top */
}

circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}

.bg {
  stroke: #eee;
}

.progress {
  stroke: #4caf50;
  stroke-dasharray: 314; /* 2 * π * r = 2*3.14*50 */
  stroke-dashoffset: 314;
  transition: 0.5s;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}